<div class="mainContainer" style="background-color: rgb(241, 245, 241);height: 100vh;">
    <div class="mainTop" style="display: flex; flex-direction: row;justify-content: space-between;">
        <div class="mainTopleft">
            <span class="toolbar-logoTop">Property Management Dashboard</span>
            <span class="toolbar-logoButton">Monitor and manage ECX property assets efficiently</span>
        </div>
        <div class="mainTopright">
            <div class="reportmaintop">
                <button><mat-icon>trending_up</mat-icon> Reports</button>
            </div>
            <div class="requestmaintop">
                <button><mat-icon>add</mat-icon>New request</button>
            </div>
        </div>
    </div>
</div>