.mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    border-width: 0;
    color: hsl(222.2 84% 4.9%);
    border: 2px solid hsl(220 13% 91%);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    button {
        border: none;
        background-color: hsl(0, 0%, 98%);
        color: hsl(222.2 84% 4.9%);
    }



    .logoContainer {
        display: flex;
        flex-direction: row;
        margin-right: auto;

        .logo {
            img {
                border-radius: 30%;
                margin-top: 7px;
            }
        }

        .logotext {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            .toolbar-logoTop {
                color: hsl(222.2 84% 4.9%);
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.75rem;

            }

            .toolbar-logoButton {
                color: hsl(215.4 16.3% 46.9%);
                font-size: .875rem;
                line-height: 1.25rem;
            }

        }
    }



    .navLeft {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .notification {
            font-size: 24px;
            margin-right: 10px;
            padding: 3px;
            border-radius: 1px;
            cursor: pointer;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;

        }

        .notification:hover {
            background-color: #18552c;
            font-size: 24px;
            color: white;
            border-radius: 5px;
           

        }

        .profile {
            font-size: 24px;
            margin-right: auto;
            border-radius: 3rem;
            padding: 3px;
            transition: border-radius 1s;
            cursor: pointer;
            width: 100%;
            justify-content: center;

            align-items: center;

            mat-icon {
                font-size: 24px;
                background-color: #18552c;
                color: white;
                border-radius: 3rem;
                padding: 3px;
                cursor: pointer;
                outline: 0px solid #18552c;
                text-align: center;
                transition: outline 0.3s;

            }

            mat-icon:hover {
                outline: 3px solid #18552c;
            }
        }
    }
}

.profilebtn {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.profilebtn:hover {
    background-color: hsl(220 80% 15%);
    color: white;
}