.app{
        width:100%;
        height:100%;
        background-image: "assets/logo.png";
}
.sidenav{
    width: 200px;
    border-top-right-radius:0;
//     background-color: rgb(218, 123, 7);
}
.navbar{
        width: 100px;
        height:20px;
}