.app {
        width: 100%;
        height: 100%;
        background-image: "assets/logo.png";
}

.sidenav {
        width: 200px;
        border-top-right-radius: 0;

}

.navbar {
        width: 100px;
        height: 20px;
}

.toggle {
        position: absolute;
        top: 6px;
        right: 0;

        button {
                border: none;
                background: linear-gradient(135deg, #18552c, #feb044);
                padding: 7px;
                border-radius: 20px;
                transition: transform 0.3s, box-shadow 0.3s;
                cursor: pointer;

                mat-icon {
                        font-weight: bold;
                }
        }

        button:hover {
                transform: scale(1.04);
                box-shadow: 0 8px 20px rgba(24, 85, 44, 0.2);
        }
}

.appsidebar {
  width: auto;
  border: 1px solid hsl(220 13% 91%);
  background-color: white;
  margin-top: 70px;
  position: fixed;      
  left: 0;
  top: 0;               
  bottom: 0;        
  overflow: visible !important; 
  z-index: 3000;
}