<div class="form-container">
  <mat-card class="form-card">
    <mat-card-header>
      <!-- <mat-card-title>Branch</mat-card-title> -->
      <mat-card-subtitle>Enter your Branch detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
       
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Branch Name">
          @if(form.get('name')?.hasError('required')){<mat-error >Branch Name is required </mat-error>}
          @if(form.get('name')?.hasError('minlength')){<mat-error >Name must be at least 3 characters</mat-error>}
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="Enter description" rows="1"></textarea>
          @if(form.get('description')?.hasError('required')){<mat-error >Description is required</mat-error>}
          @if(form.get('description')?.hasError('maxlength')){<mat-error>Description must not exceed 50 characters</mat-error>}
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="full-width">
          <mat-label>Date and Time</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="datetime">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('datetime')?.hasError('required')">
            Date and time is required
          </mat-error>
        </mat-form-field>
        @if (isBrowser) {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date and Time</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="datetime" placeholder="Choose a date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (form.get('datetime')?.hasError('required')) {
              <mat-error>Date is required</mat-error>
            }
          </mat-form-field>
        } @else {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date and Time</mat-label>
            <input matInput type="text" formControlName="datetime" placeholder="Enter date manually">
            @if (form.get('datetime')?.hasError('required')) {
              <mat-error>Date is required</mat-error>
            }
          </mat-form-field>
        } -->

            <mat-card-actions>
                <button class="submit"  mat-raised-button  type="submit" [disabled]="form.invalid">
                    Submit
                  </button>
            </mat-card-actions>


      </form>
    </mat-card-content>
    <!-- <app-table 
    columns]="userColumns" 
      [data]="usersData" 
      [actions]="userActions"
      (action)="handleAction($event)">
    </app-table> -->
  </mat-card>
</div>