.sidebar {
  border-radius: 0;
}

mat-list-item {
  background-color: #eaf1ec;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
  border-color: aliceblue;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 15px;
  //   border-radius: 50%; 
  object-fit: cover;
  //   background-image: rgb(16, 8, 90);
}

::ng-deep .mat-expansion-panel {
  background-color: white;
  box-shadow: none !important;
  border: none !important;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
  border-bottom: none !important;
}

div {
  mat-accordion {
    div {
      .sidebarButton {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border: none;
        background-color: white;
        padding: 13px 30px 13px 24px;
        font-weight: bold;
        color: #44474e;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        align-items: center;

      }

      .sidebarButton:hover {
        background-color: hsl(220 13% 91%);
        width: 100%;
      }

      .sidebarButtonSubcatagory {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border: none;
        background-color: white;
        padding: 13px 30px 13px 5px;
        font-weight: bold;
        color: #44474e;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
      }

      .sidebarButtonSubcatagory:hover {
        background-color: hsl(220 13% 91%);
        width: 100%;
      }
    }
  }

  mat-icon {
    margin-right: 6px;

  }
}

mat-icon {
  font-size: 13px;
}




.sidebarToggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  button {
    border: none;
    background-color: white;
    cursor: pointer;
    mat-icon {
      font-size: 20px;
    }
  }
  .master,
  .business,
  .Request,
  .report {
    position: relative;
  }

  button:hover {
    background-color: hsl(220, 13%, 91%);
    width: 100%;
  }
}


.sub-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 100%;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 150px;
  padding: 5px 0;
}


.sidebarToggle.master:hover .sub-menu,
.sidebarToggle.business:hover .sub-menu,
.sidebarToggle.Request:hover .sub-menu,
.sidebarToggle.report:hover .sub-menu {
  display: flex;
}