.sidebar{
    border-radius: 0;
}

mat-list-item{
  background-color:#eaf1ec;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
  border-color: aliceblue;
}

.logo-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.logo {
  width: 100px; 
  height: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 15px;
//   border-radius: 50%; 
  object-fit: cover;
//   background-image: rgb(16, 8, 90);
}
::ng-deep .mat-expansion-panel {
  background-color: white;
  box-shadow: none !important;  
  border: none !important;      
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
  border-bottom: none !important; 
}
