.sidebar {
  border-radius: 0;
}

mat-list-item {
  background-color: #eaf1ec;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
  border-color: aliceblue;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 15px;
  //   border-radius: 50%; 
  object-fit: cover;
  //   background-image: rgb(16, 8, 90);
}

::ng-deep .mat-expansion-panel {
  background-color: white;
  box-shadow: none !important;
  border: none !important;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
  border-bottom: none !important;
}

div {

    div {
      .sidebarButton {
        display: flex;
        font-weight: 500;
        flex-direction: row;
        flex-wrap: nowrap;
        border: none;
        color: hsl(222.2 84% 4.9%);
        padding: 13px 30px 13px 24px;
        font-weight: bold;
        background-color: white;
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        align-items: start;

      }

      .sidebarButton:hover {
        // background-color: hsl(220 13% 91%);
        background-color: #18552c;;
        width: 100%;
        color: white;
      }

      .sidebarButtonSubcatagory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        background-color: white;
        padding: 13px 5px 13px 5px;
        font-weight: bold;
        color: hsl(215.4 16.3% 46.9%);
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        font-weight: bold;
        position: relative;
      }

      .sidebarButtonSubcatagory:hover {
        background-color: #18552c;
        color: white;
        width: 100%;
      }
    }
  }

  mat-icon {
    margin-right: 6px;

  }


mat-icon {
  font-size: 13px;
}

.sidebarToggle {
display: flex;
flex-direction: column;
justify-content: start;
margin-top: 10px;
width: 21%;      
 overflow: visible !important; 

  button {
    border: none;
    background-color: white;
    cursor: pointer;

    mat-icon {
      font-size: 20px;
    }
  }

  button:hover {
    background-color: hsl(220, 13%, 91%);
    width: 100%;
  }
}


.master,
.business,
.Request,
.report {
  position: relative;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;       
  background-color: hwb(120 95% 4%);
  flex-direction: column;
  width: 2000px;
  min-width: max-content;
  z-index: 4100;  
  visibility: visible !important;  

}
 .master:hover .sub-menu,
 .business:hover .sub-menu,
 .Request:hover .sub-menu,
 .report:hover .sub-menu {
  display: none;
}
mat-expansion-panel-header mat-panel-description {
  font-weight: bold;
}
