.sidebar {
  border-radius: 0;
}

mat-list-item {
  background-color: #eaf1ec;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
  border-color: aliceblue;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 15px;
  //   border-radius: 50%; 
  object-fit: cover;
  //   background-image: rgb(16, 8, 90);
}

::ng-deep .mat-expansion-panel {
  background-color: white;
  box-shadow: none !important;
  border: none !important;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header {
  border-bottom: none !important;
}

div {

  div {
    .sidebarButton {
      display: flex;
      font-weight: 500;
      flex-direction: row;
      flex-wrap: nowrap;
      border: none;
      color: hsl(222.2 84% 4.9%);
      padding: 13px 30px 13px 24px;
      font-weight: bold;
      background-color: white;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
      align-items: start;

    }

    .sidebarButton:hover {
      // background-color: hsl(220 13% 91%);
      background-color: #18552c;
      ;
      width: 100%;
      color: white;
    }

    .sidebarButtonSubcatagory {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: none;
      background-color: white;
      padding: 13px 5px 13px 5px;
      font-weight: bold;
      color: hsl(215.4 16.3% 46.9%);
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      align-items: center;
      font-weight: bold;
      position: relative;
      z-index: 5000;
    }

    .sidebarButtonSubcatagory:hover {
      background-color: #18552c;
      color: white;
      width: 100%;
      border-radius: 10px;
    }
  }
}

mat-icon {
  margin-right: 6px;

}

mat-icon {
  font-size: 13px;
}

.sidebarToggle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
  width: 100%;
  position: relative;
  overflow: visible !important;


  button {
    border: none;
    background-color: white;
    cursor: pointer;

    mat-icon {
      font-size: 20px;
    }
  }

  button:hover {
    background-color: hsl(220, 13%, 91%);
    width: 100%;
  }
}

.master,
.business,
.Request,
.report {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; 
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  flex-direction: column;
  width: auto;  
  min-width: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 2px;  
  padding: 14px 14px;
  overflow: visible !important;
}
.sub-menu::before {
  content: '';
  position: absolute;
  top: 10px; 
  left: -10px; 
  width: 3px;
  height: 0;
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #18552c; 
  z-index: 10002;
}
.master:hover .sub-menu,
.business:hover .sub-menu,
.Request:hover .sub-menu,
.report:hover .sub-menu {
  display: flex;
}

mat-expansion-panel-header mat-panel-description {
  font-weight: bold;
}

